<p>Left Aligned</p>
<div fxLayout.gt-xs="column" fxLayout="row" fxLayoutGap="1rem" class="mat-elevation-z8"
  style="padding:0  1rem 0 1rem;border:0px solid blue;">
  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" fxLayoutAlign="start center" style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center">First Name
        Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" fxLayoutAlign="start center" style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center">First Name
        Value</div>
    </div>
  </div>
  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" fxLayoutAlign="start center" style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center">First Name
        Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" fxLayoutAlign="start center" style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center">First Name
        Value</div>
    </div>
  </div>
</div>

<p>Right Aligned</p>
<div fxLayout.gt-xs="column" fxLayout="row" fxLayoutGap="1rem" class="mat-elevation-z8"
  style="padding:0  1rem 0 1rem;border:0px solid blue;">
  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" style="font-weight:600;">First Name:</div>
      <div fxLayout="row">First Name Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" style="font-weight:600;">First Name:</div>
      <div fxLayout="row">First Name Value</div>
    </div>
  </div>
  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" style="font-weight:600;">First Name:</div>
      <div fxLayout="row">First Name Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap=".4rem" fxFlex="1 1 50%">
      <div fxLayout="row" style="font-weight:600;">First Name:</div>
      <div fxLayout="row">First Name Value</div>
    </div>
  </div>
</div>

<p>Center Aligned</p>
<div fxLayout.gt-xs="column" fxLayout="row" fxLayoutGap="1rem" class="mat-elevation-z8">
  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%" style="border:0px solid green;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="end center" fxFlex="1 1 50%"
        style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center" fxFlex="1 1 50%">First Name
        Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%" style="border:0px solid red;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="end center" fxFlex="1 1 50%"
        style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center" fxFlex="1 1 50%">First Name
        Value</div>
    </div>
  </div>

  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%" style="border:0px solid green;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="end center" fxFlex="1 1 50%"
        style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center" fxFlex="1 1 50%">First Name
        Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%" style="border:0px solid red;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="end center" fxFlex="1 1 50%"
        style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center" fxFlex="1 1 50%">First Name
        Value</div>
    </div>
  </div>

  <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap="1rem" class="mat-elevation-z0">
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%" style="border:0px solid green;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="end center" fxFlex="1 1 50%"
        style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center" fxFlex="1 1 50%">First Name
        Value</div>
    </div>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutGap=".4rem" fxFlex="1 1 50%" style="border:0px solid red;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="end center" fxFlex="1 1 50%"
        style="font-weight:600;">First Name:</div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start center" fxFlex="1 1 50%">First Name
        Value</div>
    </div>
  </div>

</div>